<div >
    <nav class="nav-wrapper white blue darken-3">
        <div class="container">
            <a href="#" class="brand-logo hide-on-small-only">L-Courier</a>
            <a href="#" class="brand-logo hide-on-med-and-up">MENU</a>
            <a href="" class="sidenav-trigger" data-target="mobile-menu">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/profile/updateCourier">Update</a></li>
                <li><a href="/track/getTrackId">Track</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
            <ul class="sidenav grey lighten-2" id="mobile-menu">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/profile/updateCourier">Update</a></li>
                <li><a href="/track/getTrackId">Track</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>