body {
    margin: 0;
    padding: 0;
    background: #0288D1;
}

#addNew {
    display: none;
    margin: 20px auto;
}

.users-container, .profile-container {
    background: #fff;
    text-align: center;
    border-radius: 50px;
    padding: 0px 50px 30px 50px;
    margin-bottom: 50px;
}

h1 {
    color: #0288D1;
    line-height: 2;
}

#addNew button {
    width: 100px;
}

#addNew button:hover {
    opacity: 0.8;
}

#editBtn, #deleteBtn {
    text-decoration: none;
}

#deleteBtn {
    color: red;
    margin-left: 20px;
}

#toggleForm {
    background: #fff;
    border: 1px solid #0288D1;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    color: #0288D1;
    margin-top: 15px;
}

#toggleForm:hover {
    color: #fff;
    background: #0288D1;
    cursor: pointer;
}

#saveBtn {
    margin-right: 20px;
}

.profile-container a:hover {
    opacity: 0.85;
}

@media (max-width: 480px) {
    h1 {
        font-size: 35px;
        margin-bottom: 7px;
    }
    .users-container {
        padding: 0 20px 20px 20px;
    }
    .profile-container h1 {
        font-size: 40px;
        margin-top: 20px;
    }
}